{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
// npm install --save-dev babel-preset-react
//npm install --save-dev babel-plugin-transform-object-rest-spread