.home {
    height: calc(100% - 60px);
    width: 100%;
    padding: 1.5rem 1rem;
    background-image: url('./moorgate-coworking-46.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

.home__container {
    max-width: 80%;
    margin: 0 auto;
}