.note {
    line-height: 1.125rem;
    width: 100%;
    padding: 0.5rem;
    margin: 0 0 1rem;
    border-radius: 2px;
    background: rgb(255, 246, 141);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14);
}

@media (min-width: 768px) {
    .note {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .note {
        width: 30%;
    }
}

.note__title {
    font-weight: bold;
    margin: 0;
}

.note__title, .note__body {
    font-size: 1.2rem;
    outline: 0;
    display: block;
    width: 100%;
    padding: .3rem;
    margin: 0;
    border: 0;
    background: rgba(255, 255, 255, 0);
}

.note__control {
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    border: 0;
    background: rgba(255, 255, 255, 0);
    text-transform: uppercase;
}